<ion-view view-title="Promociones solo para Ti!">
  <ion-content class="padding">
  <ion-list>

    <ion-item class="item-thumbnail-left "  ui-sref="tab.promo-img">
      <img src="imgPromos/promo.png">
      <h2>Avemus Pizza</h2>
      <p>Promociones exclusivas</p>



   </ion-item> 

     <ion-item class="item-thumbnail-left">
      <img src="imgPromos/promo.png">
      <h2>Maximo Pizza</h2>
      <p>Promociones exclusivas</p>
    </ion-item> 

    <ion-item class="item-thumbnail-left">
      <img src="imgPromos/promo.png">
      <h2>Cliente N°3</h2>
      <p>Promociones exclusivas</p>
    </ion-item> 

    <ion-item class="item-thumbnail-left">
      <img src="imgPromos/promo.png">
      <h2>Cliente N°4</h2>
      <p>Promociones exclusivas</p>
    </ion-item> 

    <ion-item class="item-thumbnail-left">
      <img src="imgPromos/promo.png">
      <h2>Cliente N°5</h2>
      <p>Promociones exclusivas</p>
    </ion-item> 

    <ion-item class="item-thumbnail-left">
      <img src="imgPromos/promo.png">
      <h2>Cliente N°6</h2>
      <p>Promociones exclusivas</p>
    </ion-item> 

    <ion-item class="item-thumbnail-left">
      <img src="imgPromos/promo.png">
      <h2>Cliente N°7</h2>
      <p>Promociones exclusivas</p>
    </ion-item> 

       <ion-item class="item-thumbnail-left">
      <img src="imgPromos/promo.png">
      <h2>Cliente N°8</h2>
      <p>Promociones exclusivas</p>
    </ion-item> 

       <ion-item class="item-thumbnail-left">
      <img src="imgPromos/promo.png">
      <h2>Cliente N°9</h2>
      <p>Promociones exclusivas</p>
    </ion-item> 

       <ion-item class="item-thumbnail-left">
      <img src="imgPromos/promo.png">
      <h2>Cliente N°10</h2>
      <p>Promociones exclusivas</p>
    </ion-item> 

</ion-list>
  </ion-content>
</ion-view>
